
ColorSenseRainbow.xcodeproj/project.xcworkspace/xcshareddata/ColorSenseRainbow.xccheckout

ColorSenseRainbow.xcodeproj/project.xcworkspace/xcshareddata/ColorSenseRainbow.xccheckout

*.xcuserstate

ColorSenseRainbow.xcodeproj/project.xcworkspace/xcuserdata/rgravell.xcuserdatad/UserInterfaceState.xcuserstate
